<script lang="ts">
	import Image from 'svelte-image';
</script>

<style lang="scss">

</style>

<svelte:head>
	<title>Sapper project template</title>
</svelte:head>

# Home

<Image src="img/Virginia_Beach-2019_09_01-3226.jpg" />
<Image src="img/Virginia_Beach-2019_09_01-3232.jpg" />
<Image src="img/Virginia_Beach-2019_09_01-3249.jpg" />
<Image src="img/Virginia_Beach-2019_09_01-3250.jpg" />
<Image src="img/Virginia_Beach-2019_09_01-3253.jpg" />
<Image src="img/Virginia_Beach-2019_09_01-3254.jpg" />
<Image src="img/Virginia_Beach-2019_09_01-3261.jpg" />
<Image src="img/Virginia_Beach-2019_09_01-3316.jpg" />
<Image src="img/Virginia_Beach-2019_09_01-3354.jpg" />